<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- <img alt="logo" id="header_logo" height="40" float-left src="assets/images/logo.png" /> -->
      <h5 class="header">
    JR Attendance App
      </h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-div">
      <img alt="logo" id="header_logo" height="40" float-left src="assets/images/logo1.png" />
    </div>
  <h3>Employee Login </h3>
  <form [formGroup]="loginForm" class="login-form">
    <ion-item color="form-field" >
      <ion-input formControlName="empCode" placeholder="Employee Code" type="text" ></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.controls.empCode.errors && loginForm.controls.empCode.touched && loginForm.controls.empCode.errors.required">
      Please enter valid code
    </div>
    <ion-item color="form-field" >
      <ion-input formControlName="MPin" placeholder="Enter 4 Digit MPin" type="text"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.controls.MPin.errors && loginForm.controls.MPin.touched && loginForm.controls.MPin.errors.required">
      Please enter valid MPin
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" class="submit-btn" expand="block" (click)="validateForm(loginForm)" >Submit</ion-button>
      </ion-col>
    </ion-row>
    
    </form>
    </ion-card>
</ion-content>
