<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- <img alt="logo" id="header_logo" height="40" float-left src="assets/images/logo.png" /> -->
      <h5 class="header">
      United Bank of India
      </h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-div">
      <img alt="logo" id="header_logo" height="40" float-left src="assets/images/logo.png" />
    </div>
  <h3>United ePassbook Login</h3>
  <form class="login-form">
    <ion-item color="form-field" >
      <ion-input placeholder="Enter 4 Digit MPin" type="text" required></ion-input>
    </ion-item>
    </form>
    </ion-card>
</ion-content>
